{% extends 'accounts/base.html' %}
{% block body %}
<div class="w3-display-middle w3-mobile">
<ul>
<h1>Comorbidity:</h1>
    <form method = post  enctype="multipart/form-data">
<script type="text/javascript">
$(function(){
    var comor = {{ my_list|safe }}
    if(comor[0]==0){document.getElementById("id_hypertension").checked = false;}


    if(comor[1]==0){ document.getElementById("id_diabetes").checked = false; }

    if(comor[2]==0){ document.getElementById("id_cardiac").checked = false; }


    if(comor[3]==0){ document.getElementById("id_liver").checked = false; }

    if(comor[4]==0){ document.getElementById("id_kedney").checked = false; }

    if(comor[5]==0){ document.getElementById("id_others").checked = false; }
});
</script>
        {% csrf_token %}
         {{form.as_p}}
        <button type = "submit" style="color:#047ff8;">Submit</button>
        <button type="reset" value="Reset">Reset</button>
    </form>

</ul>
</div>
{% endblock %}