<div class="w3-container" style="margin-top:20px" id="description">
    <div class="w3-container w3-white" style="margin-top:80px">
    <div><p>
        <h2 align="center">Description</h2>
        </p></div></div>
{% if description %}
<div><p>
        {{description.details}}
    </p>
<p>
    <a href="{% url 'pbi:edit_description' patient.pk %}" class="w3-btn w3-green">Edit</a>
</p>
</div>
{% else %}
<div>
    <p>
    <a href="{% url 'pbi:new_description' patient.pk %}" class="w3-btn w3-green">Add New Description</a>
</p>
</div>
{% endif %}
</div>