<div class="w3-container" style="margin-top:20px" id="prescription">
    {% if prescription %}
    {% for i in prescription %}
<div class="w3-row-padding">
        <div class="w3-half w3-margin-bottom">
            <ul class="w3-ul w3-light-gray w3-center">
            <li class="w3-black w3-xlarge w3-padding-16">Prescription</li>
                    <li class="w3-padding-16">Details</li>
            </ul>
        </div>
         <div class="w3-half w3-margin-bottom">
             <ul class="w3-ul w3-light-gray w3-center">
            <li class="w3-black w3-xlarge w3-padding-16">#{{i.num}}</li>
                    <li class="w3-padding-16">{{i.details}}</li>
             </ul>
        </div>
</div>
    <br><a href="{% url 'pbi:edit_prescription' i.identity_fk.pk i.num %}" class="w3-btn w3-green">Edit</a>
    <!--a href="{#% url 'pdfcreator:print_prescription' i.identity_fk.pk i.num %}" class="w3-btn w3-blue">Print</a-->

    <a href="{% url 'pbi:delete_prescription' i.identity_fk.pk i.num %}" class="w3-btn w3-red w3-right"
    onclick="return confirm('Are you sure you want to delete this?')">Delete</a>

<br>
{% endfor %}
<div class = "w3-container">
    <p>
    <a href="{% url 'pbi:new_prescription' patient.pk %}" class="w3-btn w3-green">New Prescription</a></p>
</div>

{% else %}
<ul>
    <h3> No Prescription Yet! </h3>
    <a href="{% url 'pdfcreator:new_prescription' patient.pk %}" class="w3-btn w3-green">New Prescription</a>
</ul>
{% endif %}
</div>