<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cDoctorAssistant</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/w3v4.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/webtablepdf.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/webpdf.css' %}">
    <!--link rel="stylesheet" type="text/css" href="{% static 'css/pdf.css' %}"-->
<style>

</style>
</head>
<body>
<!----->
<div class="w3-container">
    <button onclick="myFunction()" style="color:#047ff8;">Print this page</button>

<script>
function myFunction() {
    window.print();
}
</script>
<!--------------->
    <p align="right">{{ user.first_name }} {{ user.last_name }},{%if doctor %} {{doctor.designation}},<br>
        {{doctor.hospital}},<br>Mobile: 0{{doctor.mobile}},{% endif %} email: {{user.email}}
    <hr>
    </p>
    <!------------>
<div class="w3-main w3-white" style="margin-left:340px;margin-right:40px">

{% block body %}
{% endblock %}

</div>
</div>
<!----->
</body>
</html>