{% extends 'pdfcreator/pdfbase.html' %}
{% block body %}

<div class="w3-container w3-white" style="margin-top:10px">
        <ul>
    <div class="w3-container w3-light-gray" style="margin-top:0px"> <h2 align="center">Prescription</h2></div></ul>
    </div>
<div class="w3-container w3-white" style="margin-top:0px">
    <p>
        Patient name : {{patient.name}}, Patient ID: {{patient.pk}},
        <br>Disease Code : {{profile.diseaseCode}}, Stage : {{profile.stage}}
    </p>
    </div>

<div class="w3-container" style="margin-top:20px">
<ul>


<div class="w3-row-padding w3-containe">

<table class="GeneratedPdf">
  <thead>
    <tr>
      <th>#</th>
      <th>Advice</th>
    </tr>
  </thead>
  <tbody>

  <tr>
      <td>Details</td>
      <td>{{prescription.details}}</td>
    </tr>
  </tbody>
</table>

</div>
    </ul>
</div>

<!--div class="container">
        <h3>Details:</h3>
    <p>{{prescription.date}}</p>
    <p>
    {{prescription.details}}

    </p>
</div-->
{% endblock %}