<div class="w3-container" style="margin-top:20px" id="linac">
    {% if linac %}
<div class="w3-row-padding">
        <div class="w3-half w3-margin-bottom">
            <ul class="w3-ul w3-light-gray w3-center">
            <li class="w3-black w3-xlarge w3-padding-16">Tele-Therapy/Linac</li>
                    <li class="w3-padding-16">Type</li>
                    <li class="w3-padding-16">Intensity</li>
                    <li class="w3-padding-16">Dose</li>
                    <li class="w3-padding-16">Gray</li>
                    <li class="w3-padding-16">Fraction(Fx)</li>
                    <li class="w3-padding-16">Start Date</li>
                    <li class="w3-padding-16">End Date</li>
                    <!--li class="w3-padding-16">Details</li-->
            </ul>
        </div>
         <div class="w3-half w3-margin-bottom">
             <ul class="w3-ul w3-light-gray w3-center">
            <li class="w3-black w3-xlarge w3-padding-16">#</li>
                    <li class="w3-padding-16">{{linac.type}}</li>
                    <li class="w3-padding-16">{{linac.intensity}}</li>
                    <li class="w3-padding-16">{{linac.dose}} </li>
                    <li class="w3-padding-16">{{linac.gray}} </li>
                    <li class="w3-padding-16">{{linac.fractionFx}}</li>
                    <li class="w3-padding-16">{{linac.startDate}}</li>
                    <li class="w3-padding-16">{{linac.endDate}}</li>
                    <!--li class="w3-padding-16">{{cobalt.details}}</li-->
             </ul>
        </div>
</div>
    <br><a href="{% url 'radiotherapy:edit_Linac' patient.pk tp_fk.num %}"
    class="w3-btn w3-green">Edit Linac Therapy</a>
<br>



{% else %}
<ul>
    <h3> Nothing in Linac Therapy </h3>
    <a href="{% url 'radiotherapy:new_Linac' patient.pk tp_fk.num %}" class="w3-btn w3-green">New Linac Therapy</a>
</ul>
{% endif %}
</div>