{% extends 'accounts/base.html' %}

{% block body %}
<div class="w3-container">
    <div class="w3-display-middle w3-mobile">
        {% if user.is_authenticated %}
        <h2>You are already logged in!</h2>
        {% else %}
<h2>Welcome!</h2>
  <p>You can sign in here!</p>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type = "submit" style="color:#047ff8;">Sign In</button>
    <button type="reset" value="Reset">Reset</button>
    <br>
    <p><a href="{% url 'myadmin_login' %}">Login as admin</a></p>
</form>
        {% endif %}
    </div>
</div>

{% endblock %}