{% extends 'accounts/base.html' %}
{% block body %}
{% load staticfiles %}
<!-- Sidebar/menu -->

    <nav class="w3-sidebar w3-light-grey w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar">
        <br>
        <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
        <div class="w3-container">
            <h3 class="w3-padding-16">
                <b>Hello
                    <br>Doctor {{user}}!</b>
            </h3>
        </div>
        <div class="w3-bar-block">
            <!--a href=" fix this when ready" onclick="w3_close()"
               class="w3-bar-item w3-button w3-hover-light-green">Full Report</a-->
            <a href="#identity" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-light-green">Identity</a>
            <a href="#profile" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-light-green">Profile</a>
            <a href="#comorbidity" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-light-green">Comorbidity</a>
            <a href="#prescription" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-light-green">Prescription</a>
            <a href="#treatmentplan" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-light-green">Treatment Plan</a>
            <a href="#radiotherapy" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-light-green">Radio Therapy</a>
            <a href="#chemotherapy" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-light-green">Chemo Therapy</a>
            <a href="#surgery" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-light-green">Surgery</a>
            <a href="#hormonetherapy" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-light-green">Hormone Therapy</a>
            <a href="#targetedtherapy" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-light-green">Targeted Therapy</a>

            <a href="#presentingfeatures" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-light-green">Presenting Features</a>
            <a href="#history" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-light-green">Patient History</a>

            <a href="#referralnote" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-light-green">Referral Notes</a>
            <a href="#followup" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-light-green">Follow Up</a>
            </div>
    </nav>

    <!-- Top menu on small screens -->
    <!--header class="w3-container w3-top w3-hide-large w3-green w3-xlarge w3-padding">
        <a href="javascript:void(0)" class="w3-button w3-green w3-margin-right" onclick="w3_open()">☰</a>
        <span>Hello Doctor</span>
    </header-->

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
     <!-- !PAGE CONTENT! -->
<div class="w3-main w3-light-gray" style="margin-left:340px;margin-right:40px">

    <div class="w3-container w3-white" style="margin-top:80px">
    <div><p>
        <h2 align="center">Patient Info</h2>
    </p></div>

    </div>
    {%include 'patientbasicinfo/ViewIdentity.html' %}
    <div class="w3-container">
        <div></div>
    </div>
    <!--**********************************************-->
{%include 'patientbasicinfo/ViewComorbidity.html' %}
    <div class="w3-container">
        <div></div>
    </div>
        <!--**********************************************-->

        <!--**********************************************-->
</div>

{% endblock %}