{% extends 'accounts/base.html' %}
{% block body %}
{% load staticfiles %}

<ul>
<h1>ChemoTherapy</h1>
    <h3>{{type}}</h3>

    <form method = post  enctype="multipart/form-data">
        {% csrf_token %}
        <p><label>Details:</label></p><br>
<p><textarea rows="4" cols="50" name="details" maxlength="200" id="inputor" class="inputor">{{p_chemotherapy.details}}</textarea></p>
        <button type = "submit" style="color:#047ff8;">Submit</button>
        <button type="reset" value="Reset">Reset</button>
    </form>

</ul>
{% endblock %}