{% extends 'accounts/base.html' %}
{% block body %}
<div class="w3-display-middle w3-mobile">
<ul>
<h3>Referral Note #{{p_referralnote.noteNo}}</h3>
    <form method = post>
        {% csrf_token %}
        <!--{#{ form.as_p }}-->
<p><label for="id_purpose">Purpose:</label> <input type="text" name="purpose" value="{{p_referralnote.purpose}}" maxlength="200" id="id_purpose" /></p>
<p><label for="id_condition">Condition:</label> <input type="text" name="condition" value="{{ p_referralnote.condition}}" maxlength="200" id="id_condition" /></p>
<p><label for="id_refferedDept">RefferedDept:</label> <input type="text" name="refferedDept" value="{{ p_referralnote.refferedDept}}" maxlength="200" id="id_refferedDept" /></p>
<p><label for="id_refferedConsultant">RefferedConsultant:</label> <input type="text" name="refferedConsultant" value="{{ p_referralnote.refferedConsultant}}" maxlength="200" id="id_refferedConsultant" /></p>
<p><label for="id_responseNote">ResponseNote:</label> <input type="text" name="responseNote" value="{{ p_referralnote.responseNote}}" maxlength="200"id="id_responseNote" /></p>
<p><label for="id_remarks">Remarks:</label> <input type="text" name="remarks" value="{{ p_referralnote.remarks}}" maxlength="200" id="id_remarks" /></p>
        <button type = "submit" style="color:#047ff8;">Submit</button>
        <button type="reset" value="Reset">Reset</button>
    </form>
</ul>
</div>
{% endblock %}
