{% load staticfiles %}
<ul>
<div class="w3-container" id="identity">


<table class="GeneratedPdf">
  <thead>
    <tr>
      <th>Identity</th>
      <th>#</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Name</td>
      <td>{{patient.name}}</td>
    </tr>
    <tr>
      <td>ID</td>
      <td>{{patient.pk}}</td>
    </tr>
    <tr>
      <td>Mobile</td>
      <td>{{patient.mobileNo}}</td>
    </tr>
    <tr>
      <td>Reffered By</td>
      <td>{{patient.referredBy}}</td>
    </tr>
  </tbody>
</table>

</div>
</ul>