{% extends 'accounts/base.html' %}
{% block body %}

<ul>
<h1>Edit Surgery:</h1>
    <form method = post>
        {% csrf_token %}
        <!--p><label for="id_remarks">Remarks:</label><br> <textarea id="inputor0" class="inputor" name="remarks" maxlength="50" required id="id_remarks">
        {{p_hormone.remarks}}</textarea></p-->
        <p><label for="id_details">Details:</label><br>
            <textarea id="inputor" class="inputor" name="details" maxlength="1000" required id="id_details">{{p_surgery.details}}</textarea>
        </p>

        <!--p><label for="id_remarks">Remarks:</label> <input type="text" name="remarks" value="{{p_surgery.remarks}}" maxlength="50" required id="id_remarks" /></p>
<p><label for="id_details">Details:</label> <input type="text" name="details" value="{{p_surgery.details}}" maxlength="200" required id="id_details" /></p-->
        <button type = "submit" style="color:#047ff8;">Submit</button>
        <button type="reset" value="Reset">Reset</button>
    </form>
    <!--form method = post>
        {% csrf_token %}
        {{form.as_p}}
        <button type = "submit">Submit</button>
        <button type="reset" value="Reset">Reset</button>
    </form-->
</ul>
{% endblock %}
